/*ESTILOS GENERALES*/
:root {
  --color-principal: #df062a;
  --color-negro: #181818;
  --color-blanco: #f5f5f5;
  --fuente-textos: "Open Sans", sans-serif;
  --fuente-titulos: "Oswald", sans-serif;
  --fuente-especial: "Orbitron", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-blanco);
}

body {
  background: var(--color-negro);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h1 > span,
h2 > span {
  font-family: var(--fuente-titulos);
}

h2,
h2 > span {
  font-size: 28px;
}

h3,
h3 > span {
  font-size: 22px;
}

@media (min-width: 768px) {
  h2,
  h2 > span {
    font-size: 36px;
  }
  h3,
  h3 > span {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  h2,
  h2 > span {
    font-size: 48px;
  }
  h3,
  h3 > span {
    font-size: 42px;
  }
}
@media (min-width: 1280px) {
  h2,
  h2 > span {
    font-size: 56px;
  }
  h3,
  h3 > span {
    font-size: 50px;
  }
}

@media (min-width: 1440px) {
  h2,
  h2 > span {
    font-size: 64px;
  }
  h3,
  h3 > span {
    font-size: 58px;
  }
}

span,
p,
li,
a {
  font-family: var(--fuente-textos);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.special-font {
  font-family: var(--fuente-especial);
}

.custom-padding-inline {
  padding-inline: 12px;
}
@media (min-width: 640px) {
  .custom-padding-inline {
    padding-inline: 22px;
  }
}
@media (min-width: 768px) {
  .custom-padding-inline {
    padding-inline: 32px;
  }
}
@media (min-width: 1024px) {
  .custom-padding-inline {
    padding-inline: 48px;
  }
}

.main-sections {
  padding-top: 80px;
  padding-bottom: 40px;
}

.titulo-main-section,
.titulo-main-section span {
  text-transform: uppercase;
}

/*ESTILOS LOGO*/
.main-logo {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  color: var(--color-principal);
}

/*BOTONES*/
.btn-menu-mobile i {
  color: var(--color-blanco);
  font-size: 24px;
}

.btn-main {
  padding-inline: 12px;
  padding-block: 4px;
  width: fit-content;
  background-color: var(--color-negro);
  border: 2px solid var(--color-principal);
}

.btn-main span {
  text-transform: uppercase;
  font-family: var(--fuente-especial);
  color: var(--color-principal);
  font-weight: 900;
  font-size: 16px;
}

.btn-trabajos {
  border: 2px solid var(--color-negro);
  padding-inline: 24px;
  padding-block: 8px;
}

.btn-trabajos span {
  color: var(--color-blanco);
  font-size: 14px;
}

/*ESTILOS NAV PRINCIPAL*/
.main-navegacion {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .main-navegacion {
    height: 64px;
  }
}

.navegacion-desktop {
  display: none;
}

.navegacion-desktop ul {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 14px;
}
.navegacion-desktop ul li {
  color: var(--color-blanco);
  font-family: var(--fuente-titulos);
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: 768px) {
  .navegacion-mobile {
    display: none;
  }
  .navegacion-desktop {
    display: block;
  }
}
@media (min-width: 1024px) {
  .navegacion-desktop ul li {
    font-size: 18px;
  }
  .navegacion-desktop ul {
    column-gap: 24px;
  }
}

/*ESTILOS HERO*/

.hero {
  width: 100%;
  min-height: 700px;
  height: 100vh;
  overflow: hidden;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.portada-1 {
  background: url("/images/imagenes-slider-header/portada01.webp");
}
.portada-2 {
  background: url("/images/imagenes-slider-header/portada02.webp");
}
.portada-3 {
  background: url("/images/imagenes-slider-header/portada03.webp");
}
.imagen-portada {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-slide {
  overflow: hidden;
}

.contenido-slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-pagination {
  position: relative !important;
  left: 0px !important;
  right: 0px !important;
  margin-left: auto !important;
  margin-right: 40px !important;
  bottom: 30px !important;
  width: fit-content !important;
}

.swiper-pagination-bullet {
  opacity: 0.5;
  background: var(--color-blanco);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transition: transform, background-color 0.25s ease-in-out;
  background-color: var(--color-principal);
  transform: scale(1.5);
}

.contenido-slide .portada-contenido {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  row-gap: 40px;
}
.portada-titulo {
  color: var(--color-principal);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 30px;
  row-gap: 5px;
}

.portada-titulo span {
  display: inline-block;
  width: fit-content;
  background-color: var(--color-negro);
  padding-inline: 2px;
}

.portada-titulo-uno span:nth-child(1) {
  color: var(--color-principal);
}

.portada-titulo-dos span,
.portada-titulo-tres span {
  color: var(--color-principal);
}

@media (min-width: 768px) {
  .portada-titulo {
    font-size: 36px;
  }
}

@media (min-width: 1024px) {
  .imagen-portada {
    max-width: 50%;
  }
  .portada-contenido {
    max-width: 50%;
    margin-left: auto;
    padding-inline: 20px;
  }
  .portada-titulo {
    font-size: 48px;
    line-height: 1.2;
  }
}

@media (min-width: 1280px) {
  .portada-titulo {
    font-size: 64px;
  }
}

/*SECTION ABOUT*/
.about {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.titulo-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-about span {
  color: var(--color-principal);
  text-transform: uppercase;
  line-height: 1.1;
}

.contenido-about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 500px;
  margin-inline: auto;
}

.contenido-about p {
  text-align: center;
  font-size: 14px;
  line-height: 2;
}

@media (min-width: 768px) {
  .contenido-about {
    flex-direction: row;
    max-width: 1280px;
  }
  .contenido-about p {
    flex: 1;
  }
}
@media (min-width: 1024px) {
  .about {
    padding-block: 100px;
    padding-bottom: 50px;
  }
  .contenido-about p {
    font-size: 16px;
  }
}
@media (min-width: 1564px) {
  .about {
    padding-inline: 0px;
  }
}
/*SECTION TRABAJOS*/
.trabajos {
  background-color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.trabajos * {
  color: var(--color-negro);
}

.trabajos header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trabajos header .titulo-main-section {
  line-height: 1.2;
}

.trabajos header span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.imagen-trabajo {
  max-height: 800px;
}

.contenido-trabajos {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.item-trabajo {
  display: grid;
  gap: 24px;
  max-width: 600px;
  margin-inline: auto;
}

.item-trabajo header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.item-trabajo .tag {
  color: var(--color-principal);
  font-size: 10px;
}

.item-trabajo .titulo {
  line-height: 1;
  text-transform: uppercase;
}

.item-trabajo p {
  font-size: 14px;
  line-height: 1.6;
}

/*SECTION TRABAJOS MEDIA QUERYS*/
@media (min-width: 768px) {
  .item-trabajo:nth-child(even) .imagen-trabajo {
    grid-column: 2;
  }
  .item-trabajo:nth-child(even) .contenido-item-trabajo {
    grid-column: 1;
    grid-row: 1;
  }
  .item-trabajo {
    margin-inline: 0px;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .item-trabajo .header-mobile {
    display: none;
  }
  .item-trabajo .header-desktop .tag {
    font-size: 12px;
  }

  .item-trabajo .contenido-item-trabajo p {
    font-size: 16px;
  }
  .item-trabajo .contenido-item-trabajo {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
  }

  .item-trabajo .btn-trabajos {
    align-self: end;
  }
}

@media (min-width: 1024px) {
  .trabajos > header > span {
    font-size: 14px;
  }
  .item-trabajo .header-desktop .tag {
    font-size: 14px;
  }
}

/*SECTION PARTNERS*/

.partners {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.titulo-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-partners span {
  color: var(--color-principal);
  text-transform: uppercase;
  line-height: 1.1;
}

.grid-partners {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
}

.grid-partners .imagen-partner {
  max-height: 150px;
  padding: 20px;
}

.imagen-partner img {
  object-fit: contain;
  opacity: 0.5;
}

.imagen-partner {
  border-bottom: 1px solid #f5f5f588;
}
.imagen-partner:nth-child(11) {
  border-bottom: none;
}
.imagen-partner:nth-child(12) {
  border-bottom: none;
}
.imagen-partner:nth-child(even) {
  border-left: 1px solid #f5f5f588;
}

@media (min-width: 768px) {
  .grid-partners {
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
  .imagen-partner:nth-child(9),
  .imagen-partner:nth-child(10) {
    border-bottom: 0;
  }
  .imagen-partner:nth-child(3),
  .imagen-partner:nth-child(7),
  .imagen-partner:nth-child(11) {
    border-left: 1px solid #f5f5f588;
  }
}

/*SECTION BLOG*/

.blog {
  background-color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.blog * {
  color: var(--color-negro);
}

.blog header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog header .titulo-main-section {
  line-height: 1.2;
}

.blog header span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.contenido-blog {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.item-blog {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-inline: auto;
}

.item-blog header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4px;
}

.item-blog header span {
  font-size: 10px;
}

.item-blog .tags-blog {
  display: flex;
  list-style: none;
  gap: 12px;
  align-self: end;
}

.item-blog .tags-blog span {
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
}
.item-blog .tags-blog i {
  color: var(--color-principal);
  font-size: 8px;
}

.item-blog p {
  font-size: 14px;
  padding-block: 12px;
}

.item-blog .btn-main {
  border: 1px solid var(--color-negro);
  align-self: end;
}

.item-blog .btn-main span {
  color: var(--color-blanco);
  font-size: 12px;
}

@media (min-width: 768px) {
  .contenido-blog {
    flex-direction: row;
  }
}

/*FOOTER*/

.contenido-footer {
  display: grid;
  gap: 48px;
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.footer .titulo-footer {
  text-align: center;
  display: block;
  font-family: var(--fuente-titulos);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 14px;
  color: var(--color-principal);
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  list-style: none;
}

.footer ul li span {
  text-transform: uppercase;
  font-weight: medium;
  font-size: 14px;
}

@media (min-width: 768px) {
  .contenido-footer {
    grid-template-columns: repeat(4, 1fr);
  }
  .logo-footer {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .logo-footer {
    font-size: 42px;
  }
}
