/*ESTILOS GENERALES*/
:root {
  --color-principal: #df062a;
  --color-negro: #181818;
  --color-blanco: #f5f5f5;
  --fuente-textos: "Open Sans", sans-serif;
  --fuente-titulos: "Oswald", sans-serif;
  --fuente-especial: "Orbitron", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-blanco);
}

body {
  background: var(--color-negro);
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h1 > span,
h2 > span {
  font-family: var(--fuente-titulos);
}

span,
p,
li,
a {
  font-family: var(--fuente-textos);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.special-font {
  font-family: var(--fuente-especial);
}

.custom-padding-inline {
  padding-inline: 12px;
}
@media (min-width: 640px) {
  .custom-padding-inline {
    padding-inline: 22px;
  }
}
@media (min-width: 768px) {
  .custom-padding-inline {
    padding-inline: 32px;
  }
}
@media (min-width: 1024px) {
  .custom-padding-inline {
    padding-inline: 48px;
  }
}

.main-sections {
  padding-top: 80px;
  padding-bottom: 40px;
}

.titulo-main-section,
.titulo-main-section span {
  text-transform: uppercase;
  font-size: 32px;
}
@media (min-width: 768px) {
  .titulo-main-section,
  .titulo-main-section span {
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .titulo-main-section,
  .titulo-main-section span {
    font-size: 48px;
  }
}
@media (min-width: 1280px) {
  .titulo-main-section,
  .titulo-main-section span {
    font-size: 56px;
  }
}

/*ESTILOS LOGO*/
.main-logo {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  color: var(--color-principal);
}

/*BOTONES*/
.btn-menu-mobile i {
  color: var(--color-blanco);
  font-size: 24px;
}

.btn-main {
  padding-inline: 12px;
  padding-block: 4px;
  width: fit-content;
  background-color: var(--color-negro);
  border: 2px solid var(--color-principal);
}

.btn-main span {
  text-transform: uppercase;
  font-family: var(--fuente-especial);
  color: var(--color-principal);
  font-weight: 900;
  font-size: 16px;
}

.btn-trabajos {
  border: 2px solid var(--color-negro);
  padding-inline: 24px;
  padding-block: 8px;
}

.btn-trabajos span {
  color: var(--color-blanco);
  font-size: 14px;
}

/*ESTILOS NAV PRINCIPAL*/
.main-navegacion {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .main-navegacion {
    height: 64px;
  }
}

.navegacion-desktop {
  display: none;
}

.navegacion-desktop ul {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 14px;
}
.navegacion-desktop ul li {
  color: var(--color-blanco);
  font-family: var(--fuente-titulos);
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: 768px) {
  .navegacion-mobile {
    display: none;
  }
  .navegacion-desktop {
    display: block;
  }
}
@media (min-width: 1024px) {
  .navegacion-desktop ul li {
    font-size: 18px;
  }
  .navegacion-desktop ul {
    column-gap: 24px;
  }
}

/*ESTILOS HERO*/

.hero {
  width: 100%;
  min-height: 700px;
  height: 100vh;
  position: relative;
}
.hero .imagen-portada {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.hero .portada-uno-contenido {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  row-gap: 40px;
}
.portada-uno-titulo {
  color: var(--color-principal);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 30px;
  row-gap: 5px;
}

.portada-uno-titulo span {
  display: inline-block;
  width: fit-content;
  background-color: var(--color-negro);
  padding-inline: 2px;
}

/*SECTION ABOUT*/
.about {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.titulo-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-about span {
  color: var(--color-principal);
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.1;
}

.contenido-about {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.contenido-about p {
  text-align: center;
  font-size: 14px;
  line-height: 2;
}

/*SECTION TRABAJOS*/
.trabajos {
  background-color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.trabajos * {
  color: var(--color-negro);
}

.trabajos header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trabajos header .titulo-main-section {
  line-height: 1.2;
}

.trabajos header span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.imagen-trabajo {
  max-height: 800px;
}

.contenido-trabajos {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.item-trabajo {
  display: grid;
  gap: 24px;
  max-width: 600px;
  margin-inline: auto;
}

.item-trabajo header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.item-trabajo .tag {
  color: var(--color-principal);
  font-size: 10px;
}

.item-trabajo .titulo {
  line-height: 1;
  text-transform: uppercase;
  font-size: 24px;
}

.item-trabajo p {
  font-size: 14px;
  line-height: 1.6;
}

/*SECTION TRABAJOS MEDIA QUERYS*/
@media (min-width: 768px) {
  .item-trabajo:nth-child(even) .imagen-trabajo {
    grid-column: 2;
  }
  .item-trabajo:nth-child(even) .contenido-item-trabajo {
    grid-column: 1;
    grid-row: 1;
  }
  .item-trabajo {
    margin-inline: 0px;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .item-trabajo .header-mobile {
    display: none;
  }
  .item-trabajo .header-desktop .tag {
    font-size: 12px;
  }
  .item-trabajo .header-desktop .titulo {
    font-size: 28px;
  }
  .item-trabajo .contenido-item-trabajo p {
    font-size: 16px;
  }
  .item-trabajo .contenido-item-trabajo {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
  }

  .item-trabajo .btn-trabajos {
    align-self: end;
  }
}

@media (min-width: 1024px) {
  .trabajos > header > span {
    font-size: 14px;
  }
  .item-trabajo .header-desktop .tag {
    font-size: 14px;
  }
  .item-trabajo .header-desktop .titulo {
    font-size: 32px;
  }
}
